<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Alejandro Sosa | front end web developer</title>
  <link rel="icon" type="image/x-icon" href="images/design/icons/favicon/favicon.ico">
  <link rel="mask-icon" href="images/design/icons/favicon/pinned-octocat.svg" color="#4078c0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,600italic,300italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/vendors/normalize.css">
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/alejandro-sosa.css" rel="stylesheet" type="text/css">
</head>

<body class="js-body" ng-app="alejandroSosaApp">
  <section class="container-contact" id="modal-contact">
    <div class="container-contact_modal modal-content">
      <div class="container-contact_modal_header">
        <h2><strong>Alejandro Sosa <i>-</i> <span>Front End Web Developer</span></strong></h2>
        <i id="closeModalContact" class="close-modal close-animatedModal fa fa-close"></i>
      </div> <!--/header-modal-->
      <div class="container-contact_modal_info">
        <ul>
          <li class="fa fa-linkedin-square">
            <a href="https://co.linkedin.com/in/ajsr7" target="_blank">linkedin.com/in/ajsr7</a>
          </li>
          <li class="fa fa-at">
            <a href="mainto:AlejandroJSR7@gmail.com">AlejandroJSR7@Gmail.com</a>
          </li>
          <li class="fa fa-mobile-phone">
            +57 319 544 6000
          </li>
          <li class="fa fa-whatsapp">
            +57 319 544 6000
          </li>
          <li class="fa fa-github-alt">
            <a href="https://github.com/AlejandroJSR7/" target="_blank">AlejandroJSR7</a>
          </li>
          <li class="fa fa-stack-overflow">
            <a href="http://stackoverflow.com/users/5478487/alejandrojsr7" target="_blank">AlejandroJSR7</a>
          </li>
          <li class="fa fa-twitter">
            <a href="https://twitter.com/AlejandroJSR7" target="_blank">@AlejandroJSR7</a>
          </li>
        </ul>
      </div> <!--/info-modal-->
    </div> <!--modal-->
  </section> <!--/contact-->
  <div class="general-container">
    <section class="hero">
      <a href="https://unsplash.com/@ffstop" title="Photo by Fotis Fotopoulos on Unsplash" class="hero__background--copyright" target="_blank">
        <i class="fa fa-info"></i>
      </a>
      <div class="welcome">
        <div class="title-web">
          <h1>
            Alejandro Sosa
            <strong>Front end web developer</strong>
          </h1>
        </div> <!--/title-web-->
      </div> <!--/image-slider-->
      <div class="hero__avatar"></div>
      <a href="https://twitter.com/AlejandroJSR7" class="hero__twitter" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#js-anchorAboutMe" class="scrollDown fa fa-angle-double-down"></a>
    </section> <!--/section hero-->
    <div class="main">
      <section id="js-anchorAboutMe" class="section--about-me">
        <div class="content-big">
          <h3 name="about-me">About me / Sobre mi</h3>
          <div class="content-medium">
            <p>
              I’m a Front end developer with 5 years of experience building scalable web applications with state of the art technology. I have skills in user interface design, research and attention to detail. I'm constantly challenging myself to learn new technologies and skills.
              <strong class="hide">I'm looking forward to join a team from which I can continue to learn and improve.</strong>
            </p>
            <p>
              Soy desarrollador front end con 5 años de experiencia construyendo aplicaciones web escalables con tecnología de punta. Tengo conocimientos en diseño de interfaces de usuario, investigación y atención al detalle. Me exijo constantemente en el aprendizaje de nuevas tecnologías y habilidades.
            </p>
          </div> <!--/content-medium-->
        </div> <!--/content-big-->
      </section>
      <section>
        <div class="content-big">
          <h3 name="skills">Skills / Conocimientos y experiencia.</h3>
          <div class="content-medium">
            <div class="component-skills">
              <ol class="skills">
                <li class="skill skill--high"><i class="fa fa-circle"></i>HTML</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>CSS</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>Bootstrap</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>SASS-Less-Stylus</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>Gulp</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>Git</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>Terminal</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>Resp Web Des</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>SketchApp</li>
                <li class="skill skill--high"><i class="fa fa-circle"></i>Photoshop</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>Javascript</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>AngularJs</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>JQuery</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>Wordpress</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>Drupal</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>Angular</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>ReactJs</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>Chart.js</li>
                <!-- <li class="skill skill--next"><i class="fa fa-circle"></i>NodeJs</li>
                <li class="skill skill--next"><i class="fa fa-circle"></i>D3.js</li> -->
                <li class="skill skill--impossible"><i class="fa fa-circle"></i>Nothing</li>
              </ol> <!--/skills-->
              <ol class="skills-level">
                <h5>Skill Level</h5>
                <li class="skill skill--high"><i class="fa fa-circle"></i>High</li>
                <li class="skill skill--medium"><i class="fa fa-circle"></i>Medium</li>
                <!-- <li class="skill skill--practicing"><i class="fa fa-circle"></i>Practicing</li> -->
                <!-- <li class="skill skill--next"><i class="fa fa-circle"></i>Next</li> -->
                <li class="skill skill--impossible"><i class="fa fa-circle"></i>Impossible</li>
              </ol>
            </div> <!--/component-skills-->
          </div> <!--/content-medium-->
        </div>
      </section>
      <section>
        <div class="content-big">
          <h3 name="portfolio">Portfolio / Portafolio</h3>
          <div class="content-medium">
            <p class="push-bottom--double"></p>
            <div class="projects" ng-controller="projectsListCtrl as projectsListVM">
              <article ng-repeat="project in projectsListVM.projects | orderBy: 'id'">
                <div class="project">
                  <h2>{{project.project_name}} <small>{{project.project_name_desc}}</small></h2>
                  <h4><a target="_blank" href="{{project.team_link_url}}">{{project.team_name}}</a></h4>
                  <div class="image-and-description">
                    <div class="image-project">
                      <i class="icon-user" ng-class="project.project_developed_on_team ? 'fa fa-users' : 'fa fa-user'"></i>
                      <a href="{{project.project_link_url}}" target="_blank" class="link-description">
                        <img src="images/content/portfolio/{{project.project_image_url}}">
                      </a>
                    </div>
                    <div class="description-project">
                      <p>{{project.project_description}}</p>
                      <ul ng-if="project.project_tags.length > 0">
                        <li ng-repeat="tag in project.project_tags">
                          {{$first ? '' : $last ? ' and ' : ', '}}{{tag}}
                        </li>
                      </ul>
                      <a href="{{project.project_link_url}}" target="_blank" class="link-description">Go to project</a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div> <!--/main-->
    <a href="#" class="scrollToTop fa fa-hand-o-up"></a>
    <a href="#" id="openModalContact" class="contact-icon">Contact me</a>
  </div> <!--/generalContainer-->
  <script src="js/jquery.min.js"></script>
  <script src="js/alejandro-sosa.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.js"></script>
  <script src="js/alejandro-sosa-app.js"></script>
</body>

</html>