/*
	CSS
	Julian Alejandro Sosa
	ja5054r@gmail.com
	ja5054r
*/
/*
	Fonts

	font-family: 'Gentium Basic', serif;
		Bold Italic - 700

	font-family: 'Gentium Book Basic', serif;
		Normal, Normal Italic - 400

	font-family: 'Open Sans', sans-serif;
		Normal, Semi-Bold 600 - Bold 700
*/
html, body{font-family: 'Gentium Book Basic', serif; font-size: 62.5%; height: 100%;}
h1, h2, h3, h4, h5, h6{margin: 0;}
hr{border: 0px; border-top: 1px solid #ffffff;}
header{height: 100%; position: relative; width: 100%;}
.backToTop{background: url(../images/design/misc/topUp.png) no-repeat center top; color: #a8a8a8; display: block; font-family: 'Open Sans', sans-serif; font-size: 1.2rem; margin-bottom: 4rem; text-align: center; text-decoration: none; text-transform: uppercase;}
.clearfix:after {clear: both;content: "."; display: block; height: 0; visibility: hidden;}
.header_image{background: url(../images/slider/principal-1.jpg) no-repeat center center fixed; background-size: cover; height: 100%; position: relative; width: 100%;}
.header-title-and-description{bottom: 0; left: 50%; margin-left: -25%; position: absolute; width: 50%;}
.header-title-and-description h1{color: #ffffff; font-family: 'Gentium Book Basic', serif; font-size: 6rem; font-weight: normal; line-height: 2rem; margin-bottom: 2rem;}
.header-title-and-description h3{color: #d7d7d7; font-family: 'Gentium Book Basic', serif; font-size: 2rem; font-style: italic; font-weight: normal; margin: 0 0 1rem;}
.header-title-and-description hr{margin: 0 0 2.5rem;}
.author-and-share{margin-bottom: 5rem;}
.author-and-share_author{display: block; float: left; width: 50%;}
.author-and-share_author{}
.author-and-share_author strong{color: #d7d7d7; font-family: 'Open Sans', sans-serif; font-size: 1.2rem; font-weight: 600;}
.author-and-share_author p{color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 1.2rem; font-weight: 700; margin: 0; position: relative;}
.author-and-share_author p span{text-transform: uppercase;}
.author-and-share_author--photo{border-radius: 50%; height: 30px; margin-left: 10px; overflow: hidden; position: absolute; top: -50%; width: 30px;} /* It's optional, I will change styles when we define a pixels of all images of author */
.author-and-share_author--photo img{position: relative; right: 3px; top: -5px;}
.author-and-share_share{display: block; float: left; margin: 0; padding: 0; position: relative; top: 2rem; width: 50%;}
.author-and-share_share{text-align: right;}
.author-and-share_share li{display: inline-block; margin: 0 5px; overflow: hidden;}
.author-and-share_share li:hover{bottom: -0.1rem;opacity: 0.5; transition: 0.5s; position: relative;}
.author-and-share_share--favorite a{background: url(../images/design/icons/favorite-like-share.png) no-repeat 0 0; display: block; height: 13px; text-indent: 9999px; width: 13px;}
.author-and-share_share--like a{background: url(../images/design/icons/favorite-like-share.png) no-repeat -31px 0; display: block; height: 13px; text-indent: 9999px; width: 14px;}
.author-and-share_share--share a{background: url(../images/design/icons/favorite-like-share.png) no-repeat -65px 0; display: block; height: 13px; text-indent: 9999px; width: 13px;}
.main{font-size: 2.2rem; font-weight: 600; line-height: 1.5em; margin: 0 auto; padding: 3.5rem 0 0; width: 50%; word-break: break-word;}
.main p{font-size: 2.2rem; font-weight: 400; margin: 1em 0;}
.main h1, .main h2, .main h3{color: #626262; font-weight: 400; margin: 2em 0; text-align: center;}
.main ul, ol{font-size: 2.2rem; font-style: italic; font-weight: 400; padding: 0;}
.main ul, ol li{color: #bfbfbf; margin-bottom: 2rem;}
.main ul, ol li span{color: #000000; font-style: normal;}
.main ul > li ol {list-style: initial; margin-left: 2rem; margin-top: 2rem;}
.main ul > li ul {list-style: initial; margin-left: 2rem; margin-top: 2rem;}
.main ol > li ol {list-style: initial; margin-left: 2rem; margin-top: 2rem;}
.main ol > li ul {list-style: initial; margin-left: 2rem; margin-top: 2rem;}
.share-article{background: url(../images/design/bg/bg-footer.jpg) no-repeat top center fixed; background-size: cover; box-shadow: inset 10px 0px 50px rgba(0,0,0,.55); height: 200px; position: relative; width: 100%;}
.share-article_button{border: 3px solid #2ecc71; border-radius: 40px; color: #2ecc71; display: block; font-family: 'Open Sans', sans-serif; height: 60px; margin: -30px auto 0; position: relative; text-align: center; text-decoration: none; top: 70px; transition: .5s; width: 20rem;}
.share-article_button:hover{background: #ffffff;}
.share-article_button--text-icon{background: url(../images/design/icons/share-green.png) no-repeat center left; font-size: 1.2rem; display: inline-block; margin-top: -0.6rem; padding-left: 2rem; position: relative; text-transform: uppercase; top: 50%;}
.more-articles{}
.more-articles article{background: no-repeat center center / cover; box-sizing: border-box; box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.7) inset; float: left; height: 360px; padding: 5%; width: 50%;}
.more-articles article h5{color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 1.5rem; font-weight: 700; margin-bottom: 5rem;}
.more-articles article h3{color: #ffffff; font-family: 'Gentium Book Basic', serif; font-size: 3.5rem; font-weight: 400;}
.more-articles article h4{color: #d7d7d7; font-family: 'Gentium Book Basic', serif; font-size: 3rem; font-style: italic; font-weight: 400;}

/* media querie */

@media (min-width: 768px) and (max-width: 1200px){
	.main{width: 70%;}
	.more-articles article{height: 260px;}
}
@media (min-width: 430px) and (max-width: 767px){
	.header-title-and-description h1{font-size: 4rem;}
	.author-and-share_author{width: 100%;}
	.author-and-share_share{width: 100%;}
	.main{width: 80%;}
	.more-articles article{height: 300px;}
}
@media (max-width: 430px){
	.header-title-and-description h1{font-size: 3rem; line-height: 1em; margin-bottom: 1rem;}
	.author-and-share_author{width: 100%;}
	.author-and-share_share{width: 100%;}
	.main{width: 90%;}
	.more-articles article{float: none; height: 260px; width: 100%;}
	.more-articles article:first-child{border-bottom: 1px solid #ffffff;}
}